@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

:root {
  /* Colour */
  --primary-color: #2d3250;
  --secondary-color: #424769
  --ascent-color:#7077A1;
  --light-color:#F6B17A;

  /* Border Radius */
}
section{
}

.nav-item a:hover {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);

}

.txt-primary {
  color: var(--secondary-color);
}
.txt-secondary {
  color: var(--light-color);
}

.apps-section{
background-color: var(--primary-color);
border-radius: 2rem;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.23);

}

.images-hero {
  object-position: 50% -10%;
  object-fit: cover;
  width: 350px;
  height: 600px;
}
#hero{
  padding-top: 10rem;
}
.card-vitae{
  align-items: center;

}
.cv-images {
  padding: 2rem;
  border-radius: 2rem;
  height: 30%;
  width: 30%;
  background-color: white;
}
.card-profile{
  display: flex;
  align-items: center;
}
.profile-images {
    object-position: -70% 20%;
    object-fit: cover;
    width: 650px;
    height: 600px;
    border-radius: 5rem;
}
.card-profile-images{
  height: 32px;
  width: 32px;
  margin: 10px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* background-color: white; */
  text-decoration: none !important;
}

.button-primary {
  background-color: var(--primary-color);
  color: #F6B17A;
  padding: 0.7rem 2.1rem;
  border-radius: 20px;
}

.button-secondary {
  background-color: var(--light-color);
  color: var(--primary-color);
  padding: 0.7rem 2.1rem;
  border-radius: 20px;
}
.button-secondary:hover {
  background-color: white;
  color: var(--primary-color);
  padding: 0.7rem 2.1rem;
  border-radius: 20px;
  
}

